<section class="vh-100" style="background-color: white;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://thumbs.dreamstime.com/z/funny-blue-piggy-bank-falling-inside-vector-picture-funny-blue-piggy-bank-falling-inside-clock-faces-as-coins-stylish-215523798.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; max-width: 105%; " />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center" style="background-color: #3960CF;">
              <div class="card-body p-4 p-lg-5 text-black">

                <form  [formGroup]="jobForm" (ngSubmit)="save()">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">Let's Get Started</span>
                  </div>
                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Please Enter Your Mobile Number</h5>
                <div class="form-outline mb-4">
                    <input  type="tel" class="form-control"  required minlength="11" id="MobileNumber" formControlName="MobileNumber"  />
                    <label class="form-label" >Mobile Number</label>
                  </div>
        <div class="form-outline mb-4">
                     <input
            type="password"
            class="form-control"
            id="Password"
            formControlName="Password"
          />
                    <label class="form-label" >Password</label>
                  </div>
                  <div class="pt-1 mb-4">
                     <button type="submit"  class="btn btn-dark btn-lg btn-block">Submit</button>
                  </div>
     <p class="mb-5 pb-lg-2" style="color: #101820FF;">Don't have an account? <a routerLink="/signup"
                      style="color: #101820FF;">Register here</a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>